<div id="activite">
	<div class="container " style="position: relative">
		<div class="" animate-in-view="bounce">
			<div class="card " style="position: absolute;left: -21em;z-index: 300;top: 8em;padding: 0.5em;transform: rotateZ(-16deg);">
				<img src="assets/images/bghead.jpg " height="150">
			</div>
		</div>
		<div class="" animate-in-view="bounce">
			<div class="card" style="position: absolute;right: -21em;z-index: 300;top: 17em;padding: 0.5em;transform: rotateZ(18deg);">
				<img src="assets/images/bghead.jpg" height="150">
			</div>
		</div>
		<h1>Activités</h1>
		
		<div class="mainbox">
			<div class="flex-container">
				<div class="card " animate-in-view="fadeInUp">
					<h4 class="header">
					Pour les petits (18 mois – 3 ans)
					</h4>
					
					
					<div class="content">
						
						<table class="table">
							<tr><td>Espace de motricité</td></tr>
							<tr><td>Mini labyrinthe avec piscines à balles et toboggans</td></tr>
							<tr><td>Sable à modeler</td></tr>
							<tr><td>Blocs de construction géants</td></tr>
						</table>
					</div>
				</div>
			</div>
			<div class="flex-container">
				<div class="card " animate-in-view="fadeInUp">
					<h4 class="header">
					Pour les grands (4 ans – 10 ans)
					</h4>
					
					
					<div class="content">
						
						<table class="table">
							<tr><td>Accrobanche et tyrolienne géante</td></tr>
							<tr><td>Grand labyrinthe avec piscines à balles et toboggans</td></tr>
							<tr><td> Terrain de sport avec animations</td></tr>
							<tr><td>Univers VR</td></tr>
						</table>
					</div>
				</div>
			</div>
			<div class="flex-container">
				<div class="card " animate-in-view="fadeInUp">
					<h4 class="header">
					Pour les parents
					</h4>
					
					
					<div class="content">
						
						<table class="table">
							<tr><td>Espace cafétaria à petits prix (voir la carte Insérer un lien vers la carte des conso que je t’ai envoyée en PDF)
</td></tr>
							<tr><td>WIFI gratuit</td></tr>
							<tr><td>Revues en libre service</td></tr>
							<tr><td>Univers VR</td></tr>
						</table>
					</div>
				</div>
			</div>
			<div class="flex-container">
				<div class="card " animate-in-view="fadeInUp">
					<h4 class="header">
					Et toujours
					</h4>
					<div class="content">
						
						<table class="table">
							
<tr><td>Des nouveautés tous les mois</td></tr>
<tr><td>Des activités de plein air en fonction des saisons : jeux aquatiques et bains de mousse, jeux gonflables, auto à pédales...</td></tr>
<tr><td>Des animations tous les jours : mini disco, chasses aux trésors, challenges sportifs...</td></tr>
						</table>
					</div>
				</div>
			</div><!--
			
			<div class="flex-container">
				<div class="card " animate-in-view="fadeInUp">
					<h4 class="header">
					ANIMATIONS
					</h4>
					<div class="content">
						
						<table class="table">
							<tr><td> mini disco avec mascotte</td></tr>
							<tr><td>démonstrations de Zumba Kids</td></tr>
							<tr><td>chasse aux trésors</td></tr>
							<tr><td>matchs</td></tr>
							<tr><td>combats de sumo</td></tr>
							<tr><td>tempête de mousse (aux beaux jours)</td></tr>
						</table>
					</div>
				</div>
			</div>-->
		</div>
	</div>