<div id="jumbo">
	<div class="container jumbotron">
		<div class="container jumbotron" ng-controller="HeadCtrl">
			<h1><img src="assets/images/logo.png" id="logo" animate-in-view="fadeIn"></h1>
			<p class="lead glow" style="">Votre parc de loisirs convivial et familial</p>
			<div class=" col-lg-6"> <a class="btn btn-primary btn-lg col-lg-10" href="https://reza-pitchoun.lo2k.net" animate-in-view="bounceIn"><!--Reserver votre anniversaire !-->
			Réserver votre anniversaire</a>
			</div>
			<div class="col-lg-6  ">
			<a class="btn btn-green btn-lg  col-lg-10" animate-in-view="bounceIn" ng-click="gotoAnchor('location')">
			Louer un jeu gonflable
			</a>
			</div>
		</div>
	</div>
</div>