<div id="location">
	<div class="container ">
	<h1>Location</h1>
		<div class="col-lg-12" animate-in-view="fadeInUp">
			<!--<div class="card">
							<div class="content">Ici un texte super pour dire que l'anniversaire chez Pitchoun Parc c'est trop bien !</div>
			</div>-->
			<p class="">Particuliers, associations, professionnels, vous pouvez dès maintenant réserver la location de votre jeu gonflable.
Nous avons sélectionné pour vous des jeux de taille adaptée, faciles à transporter et installer, et surtout, qui plaisent aux enfants !
</p><p>
Prix départ grenade, livraison en sus, enlèvement le vendredi après midi, retour le lundi après midi
</p>
		</div>
	</div>
	<div class="container">
		<div class="mainbox">


			<div class="flex-container">
				<div class="card " animate-in-view="fadeInUp">
					
					
					<div class="content">
					<h1>100€ le week end</h1>
						<img src="assets/images/dinosaure.jpg" style="width: 100%"/> (Dinosaure 4x3m) <img src="assets/images/Bouncer theme Cow Boy.png" style="width: 100%"/> (Cow Boy 4x3m)
						
					</div>
				</div>
			</div>
			<div class="flex-container">
				<div class="card " animate-in-view="fadeInUp">
					
					
					<div class="content">
					<h1>120€ le week end</h1>
						<img src="assets/images/Bouncer Forest.png" style="width: 100%"/> (Forest 4x4m), <img src="assets/images/Bouncer Cow Boy.png" style="width: 100%"/> (Grand Cow Boy 5x4m), <img src="assets/images/Bouncer theme Mickey.png" style="width: 100%"/> (Mickey 5x4m) 
						
					</div>
				</div>
			</div>
			<div class="flex-container">
				<div class="card " animate-in-view="fadeInUp">
					
					
					<div class="content">
					<h1>150€ le week end</h1>
						<img src="assets/images/Bouncer lapin + toboggan.png" style="width: 100%"/> (Lapin avec toboggan 5x4m), <img src="assets/images/bouncer medieval.jpg" style="width: 100%"/> (Château médiéval avec toboggan 5x4m), <img src="assets/images/Croco.jpg" style="width: 100%"/>  (Crocodile avec toboggan 6x5m) 
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
