<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>


 -->


 
<div ng-include="'views/jumbo.html'"></div>
<div ng-include="'views/activite.html'"></div>


<div ng-include="'views/tarif.html'"></div>

<div ng-include="'views/anniversaire.html'"></div>
<div ng-include="'views/location.html'"></div>
<!--<div ng-include="'views/parents.html'"></div>-->


<!--<div ng-include="'views/old-layout.html'">-->  

  <!--<div ng-include="'views/old-layout.html'">-->


