<div id="parents">
	<div class="container">
		
  <h1  animate-in-view="fadeInUp">Pour les parents !</h1>

    <div class="mainbox">
      <div class="flex-container">
      	<div style="display: flex">
      		<img src="images/wifi.svg" width="35%" animate-in-view="fadeInUp"/>
      		<img src="images/nespresso.svg" width="35%" animate-in-view="fadeInUp"/>
      	</div>
      		

        </div>


         <div class="flex-container">
          <div class="card" animate-in-view="fadeInUp">
            <h4 class="header"> Activités</h4>
            
            
            
            <div class="content">
            	<table class="table">
	            	<tr><td>magasines en libre accès (nouveautés toutes les semaines)</td></tr>
	            	<tr><td>cinéma 9D</td></tr>
            	</table>
              
            </div>
          </div>
        </div>



        <div class="flex-container">
          <div class="card" animate-in-view="fadeInUp">
            <h4 class="header"> Cafétaria</h4>
            
            
            
            <div class="content">
            	<table class="table">
	            	<tr><td>café</td></tr>
	            	<tr><td>Nespresso</td></tr>
	            	<tr><td>boissons fraiches</td></tr>
	            	<tr><td>paninis</td></tr>
	            	<tr><td>crêpes</td></tr>
	            	<tr><td>gaufres</td></tr>
	            	<tr><td>pop-corn fait maison</td></tr>
	            	<tr><td>smoothies préparation minute</td></tr>
	            	<tr><td>glaces</td></tr>
            	</table>
              
            </div>
          </div>
        </div>
        
        
      </div>

	</div>
</div>