<div id="tarif">
  <div class="container" style="position: relative">
    <div class="card" style="position: absolute;left: -21em;z-index: 300;top: 8em;padding: 0.5em;transform: rotateZ(-16deg);">
      <img src="assets/images/real3.jpg" height="150">
    </div>
    <div class="card" style="position: absolute;right: -21em;z-index: 300;top: 5em;padding: 0.5em;transform: rotateZ(18deg);">
      <img src="assets/images/real1.jpg" height="150">
    </div>
    <h1  animate-in-view="fadeInUp">Infos pratiques</h1>
    <div class="mainbox">
      <div class="flex-container">
        <div class="card" animate-in-view="fadeInUp">
          <h4 class="header"> Tarifs</h4>
          
          
          
          <div class="content">
            <!-- <em>Le ticket d'entrée est valable toute la journée, pour toutes les activités proposées.</em>
            <hr/>
            <p><span class="label label-primary">Gratuit</span> pour les adultes accompagnants.<br/> <br/>
            <span class="label label-primary">2,50€</span> pour les moins de 3 ans<br/>
            <span class="label label-primary">5€</span> pour les 3-12 ans<br/>
          </p>
          <hr/>
          <p>
            <span class="label label-primary">2€</span> le jeudi matin (jeudi des tout-petits) pour tous les enfants</p>
            <hr/>
            <p>Collectivités :<br/>
              Tarif spécial collectivités : <span class="label label-primary">2,50€</span> par enfant. Gratuit pour les accompagnants.</p>
              -->
              <table class="table">
                <tr>
                  <td>Enfant de moins de moins de 3 ans</td>
                  <td>2,50€</td>
                </tr>
                <tr>
                  <td>Enfant de plus de 3 ans</td>
                  <td>5,00€</td>
                </tr>
                <tr>
                  <td>Adulte</td>
                  <td>Gratuit</td>
                </tr>
                <tr>
                  <td>Tarif spécial “Jeudi des tout-petits” (uniquement pendant les périodes scolaires) </td>
                  <td>2,00€</td>
                </tr>
                <tr>
                  <td>Tarif spécial collectivités</td>
                  <td>2,50€</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="flex-container">
          <div class="card"  animate-in-view="fadeInUp">
            <h4 class="header"> Jours et horaires d'ouverture :</h4>
            <div class="content">
              <table class="table">
                <tr>
                  <td>Octobre à Avril</td>
                  <td>Mercredi : 14h-19h<br/>
                    Samedi, dimanche, vacances scolaires, jours fériés : 10h-19h<br/>
                    Jeudi des tout-petits : 10h-12h<br/>
                  </td>
                </tr>
                <tr>
                  <td>Septembre, Mai et Juin</td>
                  <td>
                    Mercredi : 14h-19h<br/>
                    Samedi, dimanche : 14h-19h<br/>
                    Vacances scolaires, jours fériés : tous les jours, 10h-19h<br/>
                    Jeudi des tout-petits (périodes scolaires uniquement) :10h-12h<br/>
                    </td>
                </tr>
                <tr>
                  <td>Juillet et Aout (vacances scolaires)</td>
                  <td>En tournée des plages</td>
                </tr>
              </table>
            </div>
            
            <div class="content">
              <!--  <p class="">Pendant les périodes scolaires : de 10h à 19h sans interruption les mercredi, samedi, dimanche.</p>
              <hr/>
              <p class="">Pendant les vacances scolaires : tous les jours de 10h à 19h sans interruption.</p>
              <hr/>
              <p class="">Jeudi des tout petits : de 10h à 12h tous les jeudi matins.</p> -->
              
            </div>
          </div>
        </div>
        <div class="flex-container">
          <div class="card" animate-in-view="fadeInUp">
            <h4 class="header"> Information</h4>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.8811935759686!2d1.302139315773128!3d43.75456385388767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aea99751279b0f%3A0x7887fd2b34f4ff2e!2sPitchoun+Parc!5e0!3m2!1sfr!2sfr!4v1476280319197" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>  
            
            <div class="content">
              <div class="ui vertical segment">
              <b>Adresse</b>: 5 Rue de Bethmale, 31330 Grenade</div>
              <div class="ui vertical segment"><b>Téléphone</b> : 05 61 82 36 19</div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
